<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
	<link rel="stylesheet" href="css/profile.css">
</head>
<body>
    <div class="container">
		<h3 id="profileTitle">내계정</h3>
		<div class="profileBox">
		  <div class="profileHeader">
			<div class="imageArea">
			  <img src="C://acorn202310/visual_work/html/images/rabbit_1.png" alt="프로필이미지" id="profileImage">
			  <span>별명</span>
			</div>
			<a href="./profileUpdateForm.html" id="editBtn">프로필 편집</a>
		  </div>
		  <div class="profileBody">
			<div class="nickname">
			  <p class="label">별명</p>
			  <p>별명</p>
			</div>
			<div class="userName">
			  <p class="label">사용자명</p>
			  <p>사용자명</p>
			</div>
			<div class="email">
			  <p class="label">이메일</p>
			  <p>이메일</p>
			</div>
			<div class="phoneNum">
			  <p class="label">전화번호</p>
			  <p>전화번호</p>
			</div>
			<div>
			  <p class="label">계정삭제</p>
			  <p><a href="" id="deleteBtn">계정삭제</a></p>
			</div>
		  </div>
		</div>
	</div>
</body>
</html>