.container{
  background-color: #282a2e;
}
.profileBox{
  background-color: #282a2e;
  border-radius: 30px;
  padding: 20px;
  color:azure;
}
.profileHeader{
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr;
}
.imageArea{
  display: flex;
  position:relative;
}
.imageArea span{
  position: absolute;
  top: 50px;
  left: 120px;
}
.profileBox a{
  display: inline-block;
  text-decoration: none;
  color:azure;
}
.profileBox #editBtn{
  width: 150px;
  height: 50px;
  border: 1px solid #282a2e;
  font-size: 15px;
  border-radius: 8px;
  text-align: center;
  line-height: 50px;
  background-color: #6c19f1; 
}
.profileBox #deleteBtn{
  width: 100px;
  height: 50px;
  border: 1px solid red;
  font-size: 15px;
  border-radius: 8px;
  text-align: center;
  line-height: 50px;
  background-color: #282a2e; 
}

#profileTitle{
  color: azure;
}
.profileBody{
  margin-top: 20px;
}
.profileBody{
  background-color: rgb(65, 67, 68);
  border-radius: 30px;
  padding: 20px;
}
.profileBox .label{
  font-size: 20px;
  font-weight: bold;
}
#profileImage{
  width: 100px;
  height: 100px;
  border: 3px solid #111111;
  border-radius: 50%;
}
